/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* CSS reset end */

/* Global settings */
*, 
*::before, 
*::after {
  box-sizing: border-box;
}

.wrapper{
  max-width: 1000px;
  margin: 0 auto;
}

img{
  max-width: 100%;
  height: auto;
}

/* fanpage */
.fanpage-list{
  padding: 6px 4.5px 8px 0;
  display: flex;
  justify-content: flex-end;
  background-color: #f6f6f6;
}

.fanpage-item a{
  margin: 0 8.5px;
  text-decoration: none;
  display: flex;
}

.fanpage-item a:hover{
  color: rgb(239, 145, 83);
}

.fanpage-item span{
  margin: 0 0 0 3px;
}

.logo a{
  background-image: url(./images/images/logo.png);
  width: 170px;height: 36px;
  display: block;
  background-repeat: no-repeat;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

/* header */
.header{
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 2px -2px rgb(188, 188, 188);
}

.logo{
  margin: 8px 0 7px 21px;
}

nav{
  list-style: none;
  display: flex;
  margin: 0 14px 0 0;
}

.nav-item{
  display: flex;
  margin: 16.5px 8px 0 8px;
  width: auto;
}

.nav-item span{
  color: #42d3a9;
  padding: 0 10px;
}

.nav-item a{
  text-decoration: none;
  border-bottom: 3px solid transparent;
  /* 將 border-bottom 使用 transparent 的手法清除 hover 浮動 */
}

.nav-item a:hover{
  border-bottom: 3px solid #42d3a9;
}

/* content */
.content-list{
  display: flex;
  margin: 40px 10px 15px 10px;
  justify-content: space-between;
}

.content-item{
  width: 32.3333%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 20px;
  border: 1px solid gainsboro;
  border-top: none;
  border-radius: 5px;
  line-height: 1.5;
  box-shadow: 0 5px 5px -5px;
}

.content-item:hover{
  cursor: pointer;
  box-shadow: 0 0 5px;
}

.content-item article{
  padding: 10px 0;
  font-weight: bold;
}

.content-item p{
  text-align: justify;
}

.jquery-list{
  padding: 0 70px 0 0;
}

.jquery-item span::before{
  content: "．";
}

/* Screen size 768 */
@media(max-width:990px){
  .header{
    display: block;
    width: 100%;
  }
  .logo{
    display: flex;
    justify-content: center;
  }
  .nav-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
  }
  .nav-item{
    display: flex;
    justify-content: center;
    width: 48%;
  }
  .content-list{
    flex-wrap: wrap;
  }
  .content-item{
    width: 48%;
  }
}

@media (max-width: 768px){
  .content-list{
    display: flex;
    flex-wrap: wrap;
  }
  .content-item{
    width: 100%;
  }
}